@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Space Grotesk', sans-serif;
}

@layer base {
  :root {
    --background: 231 8% 18%;
    --foreground: 60 30% 96%;
    --card: 231 8% 22%;
    --card-foreground: 60 30% 96%;
    --popover: 231 8% 18%;
    --popover-foreground: 60 30% 96%;
    --primary: 182 100% 74%;
    --primary-foreground: 231 8% 10%;
    --secondary: 231 8% 25%;
    --secondary-foreground: 60 30% 96%;
    --muted: 231 8% 25%;
    --muted-foreground: 231 8% 60%;
    --accent: 145 96% 64%;
    --accent-foreground: 145 96% 10%;
    --destructive: 0 63% 40%;
    --destructive-foreground: 60 30% 96%;
    --border: 231 8% 28%;
    --input: 231 8% 28%;
    --ring: 182 100% 74%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
